.wrapper {
  justify-content: space-evenly;
  align-items: center;
  border: rgb(150, 150, 150) solid 2px;
  border-radius: 10px;
  width: 500px;
  height: 550px;
  margin: 50px auto;
  background-color: rgba(238, 238, 238, 0.448);
  display: flex;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 50%);
}
.social-icons {
  width: 100px;
  margin-left: 15px;
}
h1 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
img {
  height: 450px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 50%);
  margin-bottom: 20px;
}

.social-icons li a {
  width: 80px;
  height: 80px;
  color: #555;
  background: #fff;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgb(0 0 0 / 50%);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
}
.social-icons li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b2b2b2;
  transition: 0.5s;
  transform: skewY(-45deg);
}
.social-icons li a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #e5e5e5;
  transition: 0.5s;
  transform: skewX(-45deg);
}
.social-icons li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
.social-icons li:hover .fa {
  color: #fff;
}
.social-icons li:hover:nth-child(1) a {
  background-color: #3b5999;
}
.social-icons li:hover:nth-child(1) a::before {
  background-color: #2f4772;
}
.social-icons li:hover:nth-child(1) a::after {
  background-color: #2f4772;
}
.social-icons li:hover:nth-child(2) a {
  background-color: #ff015a;
}
.social-icons li:hover:nth-child(2) a::before {
  background-color: #920637;
}
.social-icons li:hover:nth-child(2) a::after {
  background-color: #b9003e;
}
.social-icons li:hover:nth-child(3) a {
  background-color: #3b5999;
}
.social-icons li:hover:nth-child(3) a::before {
  background-color: #2f4772;
}
.social-icons li:hover:nth-child(3) a::after {
  background-color: #4e69a3;
}
.social-icons li:hover:nth-child(4) a {
  background-color: #ed3f00;
}
.social-icons li:hover:nth-child(4) a::before {
  background-color: #b63908;
}
.social-icons li:hover:nth-child(4) a::after {
  background-color: #b73805;
}
.social-icons li:hover:nth-child(5) a {
  background-color: #3b5999;
}
.social-icons li:hover:nth-child(5) a::before {
  background-color: #2f4772;
}
.social-icons li:hover:nth-child(5) a::after {
  background-color: #4e69a3;
}
